<div class="event">
  <h2 class="event-title"><%= link_to event.title, event_path(event) %></h2>
  <p><%= local_assigns[:show_full_description] ? event.description : truncate(event.description, length: 100) %></p>
  <p><strong>Creator:</strong> <%= link_to event.creator.name, user_path(event.creator.id) %></p>
  <p><strong>Date:</strong> <%= event.date.strftime("%B %d, %Y") %></p>
  <p><strong>Time:</strong> <%= event.date.strftime("%I:%M %p") %></p>
  <p><strong>Location:</strong> <%= event.location %></p>
  <div class="button-container">
    <%= event_action_buttons(event, local_assigns[:show_admin_links],local_assigns[:in_past]) %>
  </div>
</div>